@import "../../styles/theme/palette";

.markdown {
  color: darken($color: $light, $amount: 15);
  line-height: 1.4;
  margin-bottom: 1rem;
  img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin-bottom: 0.75rem;
  }
  a {
    text-decoration: none;
    color: $primary;
    opacity: 0.75;
    transition: all 0.2s ease-in;
    &:hover,
    &:focus {
      outline: none;
      opacity: 1;
      text-decoration: underline;
    }
  }
}
