@import "../styles/theme/variables";

.tpd-toast {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1090;
  max-width: 320px;
  svg {
    margin-right: 0.75rem;
  }
}
