@import "../theme/variables";

.chapter {
  margin-top: -60px;
  &__header {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    border-bottom: 1px dashed rgba($color: $primary, $alpha: 0.3);
    margin-bottom: 1.75rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-image: linear-gradient(
        to bottom,
        rgba($color: $dark, $alpha: 0.5),
        rgba($color: $dark, $alpha: 0.1)
      );
      z-index: 0;
    }
    & > * {
      z-index: 1;
    }
  }
  .navigation {
    display: flex;
    gap: 0.5rem;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    height: 44px;
    text-decoration: none;
    font-family: $theme-font-headings;
    color: $light;
    border-radius: 0.5rem;
    border: 1px solid rgba($color: $light, $alpha: 0.1);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    &:hover,
    &:focus {
      color: $primary;
      background-color: lighten($color: $dark, $amount: 10);
    }
  }
}
