@import "../theme/variables";

.sm {
  display: flex;
  width: 100%;
  align-items: flex-start;
  border-radius: 0.75rem;
  overflow: hidden;
  margin-bottom: 0.75rem;
  background-color: lighten($color: $dark, $amount: 3);
  text-decoration: none;
  color: $light;
  &__content {
    min-width: 0;
    line-height: 1;
  }
  a {
    transition: all 0.15s ease-in-out;
    color: $white;
    &:hover,
    &:focus {
      color: $primary;
    }
  }
}

.lg {
  display: block;
  border-radius: 1rem;
  background-color: lighten($color: $dark, $amount: 3);
  border: none;
  transition: all 0.15s ease-in-out;
  overflow: hidden;
  color: $light;
  height: 100%;
  position: relative;
  & > * {
    transition: all 0.15s ease-in-out;
  }
  &__imgbox {
    overflow: hidden;
    display: flex;
    align-items: center;
    &:hover,
    &:focus {
      outline: none;
      img {
        outline: none;
        transform: scale(1.05);
        filter: saturate(1);
      }
    }
  }
  &__img {
    object-fit: contain;
    object-position: 50% 50%;
    filter: saturate(0.5);
    transition: all 0.15s ease-in-out;
  }
  &__content {
    padding: 0.75rem;
    a {
      height: 30px;
      text-decoration: none;
      position: relative;
      color: $white !important;
      &::after {
        content: "";
        position: absolute;
        left: -2px;
        bottom: 0;
        width: 25px;
        height: 2px;
        background-color: $primary;
        transition: all 0.15s ease-in-out;
        z-index: 0;
        transform: translateY(3px);
      }
      &:hover,
      &:focus {
        outline: none;
        &::after {
          width: calc(100% + 20px);
        }
      }
    }
  }
  &__gtag {
    position: absolute;
    top: 240px;
    right: 0;
    transform: translateY(-50%);
    padding: 0.25rem 0.75rem;
    background-color: $primary;
    border-radius: 0.75rem 0rem 0rem 0.75rem;
    font-family: $theme-font-headings;
    font-size: 18px;
    color: $white;
  }
  &:hover {
    background-color: darken($color: $dark, $amount: 5);
  }
  a {
    transition: all 0.15s ease-in-out;
    color: $white;
    &:hover,
    &:focus {
      color: $primary;
    }
  }
}
