@import "../theme/variables";

.wrapper {
  height: calc(100vh - 60px);
  margin-top: -62px;
  padding: 0px 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  display: block;
  padding: 0.4rem 0.75rem;
  border-radius: 0.5rem;
  background-color: lighten($color: $dark, $amount: 7);
  font-family: $theme-font-headings;
  font-size: 14px;
  transition: all 0.15s ease-in-out;
  text-decoration: none;
  color: $light;
  box-shadow: darken($color: $dark, $amount: 3) 0px 7px 29px 0px;
  &:hover {
    background-color: darken($color: $dark, $amount: 10);
    color: lighten($color: $primary, $amount: 15);
  }
}
