@import "../../styles/theme/variables";

.tpd-alert {
  font-family: $theme-font-headings;
  letter-spacing: 1px;
  &.alert-success {
    background-color: rgba($color: $success, $alpha: 0.1);
    border: 1px solid rgba($color: $success, $alpha: 0.6);
    color: $success;
  }
  &.alert-danger {
    background-color: rgba($color: $danger, $alpha: 0.1);
    border: 1px solid rgba($color: $danger, $alpha: 0.6);
    color: $danger;
  }
  &.alert-info {
    background-color: rgba($color: $info, $alpha: 0.1);
    border: 1px solid rgba($color: $info, $alpha: 0.6);
    color: $info;
  }
  &.alert-secondary {
    background-color: rgba($color: $secondary, $alpha: 0.1);
    border: 1px solid rgba($color: $secondary, $alpha: 0.6);
    color: $secondary;
  }
}
