@import "./theme/palette";

.tpd-about {
  margin-top: -60px;
  padding-bottom: 60px;
  &__content {
    padding-top: 95px;
  }
}
.about-action {
  display: block;
  padding: 0.75rem;
  background-color: lighten($color: $dark, $amount: 5);
  border-radius: 0.75rem;
  text-decoration: none;
  color: $light;
  transition: all 0.15s ease-in-out;
  margin-bottom: 0.75rem;
  h3 {
    transition: all 0.15s ease-in-out;
  }
  &:hover,
  &:focus {
    outline: none;
    background-color: darken($color: $dark, $amount: 5);
    h3 {
      color: $primary;
    }
  }
}
