@import "./theme/variables";
@import "~bootstrap/scss/bootstrap.scss";

@import "./theme/common";

body {
  color: $light;
  background: $dark;
  font-family: $theme-font-body;
  p {
    font-size: 18px;
  }
}
